<h1>Editing mod</h1>
<%= render 'form' %>
<div style="padding: 50px 250px 10px;" , align="center">
<%= link_to 'Show', @mod %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Back', mods_path %>
</div>
