%tr[consumable.source]
  %td= consumable.name
  %td= consumable.category
  %td= consumable.number_available_for_purchase
  %td= consumable.display_amount_purchased
  %td
    - if FeatureToggle.enabled_feature?('purchasing')
      .pull-right=link_to 'Check out', new_students_consumable_purchase_path(consumable), class: 'btn btn-default btn-xs ajax-modal'
