- content_for :title, 'All consumables'


.panel.panel-default
  .panel-heading
    %h3.panel-title Consumable

  %table.table#consumables-table
    %thead
      %tr
        %th Name
        %th Category
        %th Amount available to you
        %th

    %tbody
      - if @consumables.blank?
        = no_record_tr(4)
      - else
        = render @consumables


