<h1>Editing users</h1>
<div style="font-size: 40px">
  username: <%= render 'form' %>
</div>
<!-- <%= link_to 'Show', @user %> -->
<div align="center">
<a href="/users/1"><button type="button" class="btn btn-primary ">Show</button></a>
<a href="/users"><button type="button" class="btn btn-primary ">Back</button></a>
</div>


<!-- <%= link_to 'Back', users_path %> -->
