<% content_for :title, 'New module leader' %>
<h1>All users</h1>
<div class="ui-card-wrap">
  <% @users.each do |f| %>
    <div class="card col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= f.givenname %> <%= f.sn %></h1>
        </div>
        <div class="panel-body">
          <%= link_to("Details", f, class: "btn btn-default") %>
          <%= link_to("Edit", edit_user_path(f), class: "btn btn-default") %>
        </div>
      </div>
    </div>
  <% end %>
</div>