<div class="col-md-2"></div>
<div class="col-md-8 text-center ">
  <h1>Project Platform</h1>
  <h4>Want to track your project?</h4>
  <%= form_tag({controller: "requirements", action: "index"}, method: "get") do %>
    <div class="form-group mb-3">
      <%= text_field_tag(:id, nil, placeholder: "Project track ID", class: "form-control") %>
    </div>
    <div class="form-group mb-3">
      <%= submit_tag('Track', class: "btn btn-primary btn-lg btn-block") %>
    </div>
  <% end %>
  <h4>Have a good idea?</h4>
  <%= link_to('Upload your new project', new_requirement_path, class: 'btn btn-primary btn-lg btn-block') %>
</div>
<div class="col-md-2"></div>