<h3>All records:</h3>
<div class="ui-card-wrap">
  <% @requirements.each do |f| %>
    <div class="card col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= f.project_name %></h1>
        </div>
        <div class="panel-body">
          <p><%= f.project_details %></p>
          <%= link_to("Details", f, class: "btn btn-default") %>
          <% r = User.find_by_username(f.username) %>
          <%= link_to("Accepted by #{r.givenname} #{r.sn}", r, class: "btn btn-default") %>
        </div>
      </div>
    </div>
  <% end %>
</div>