<% content_for :title, 'Log In' %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
    <div class="panel panel-default margin-top-20">
      <div class="panel-heading">
        <h2 class="panel-title">Log In</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="panel-body">
          <%= f.input :username, autofocus: true %>
          <%= f.input :password %>
        </div>
        <div class="panel-footer">
          <%= submit_button 'Log in' %>
        </div>
      <% end %>
    </div>
  </div>
</div>