%table.table.table-bordered
  %thead
    %tr
      %th Name
      - Consumable.categories.keys.each do |category|
        %th= category.humanize
  %tbody
    - @totals.each do |account, categories|
      %tr
        %td= account.givenname
        - Consumable.categories.keys.each do |category|
          %td=categories[category]

