- content_for :title, 'All consumables'


.panel.panel-default
  .panel-heading
    .pull-right=link_to 'New', new_staff_consumable_path, class: 'btn btn-primary btn-xs'

    %h3.panel-title Consumable

  %table.table#consumables-table
    %thead
      %tr
        %th Name
        %th Current stock level
        %th Minimum stock level
        %th Amount before re-order
        %th

    %tbody
      - if @consumables.blank?
        = no_record_tr(5)
      - else
        = render @consumables


